.App {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
}

html, body, #root, .App {
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FFFFFF;
  font-family: 'Open Sans' !important;
}

.full {
  width: 100vw;
  height: 100vh;
}

.main-page {
  padding: 0% 5%;
}

body {
  font-family: sans-serif;
}

.title {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-anim {
  transition-duration: 2s;
  opacity:0; filter:alpha(opacity=0);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bolder;
  color: #23374d;
  align-self: center;
}

h3 {
  color: #23374d;
}

.container-fluid {
  /*padding: 3% 15%;*/
}

.section-att {
  padding: 3% 5%;
}

.download-button {
  padding: 20px;
  width: 220px;
  margin: 10px 0px;
  border-radius: 60px;
  border-color: black;
  border-width: 1px;
}

.text-align-left {
  text-align: left;
}

/* Navigation Bar */
.btn-primary {
  color: #23374d;
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
}

#android-button {
  
}

.navbar {
  padding: 2% 4.5%;
 background-color: #fff;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.nav-brand {
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Title Image */
#title-image {
  width: 60%;
  align-self: center;
  /* transform: rotate(25deg) */
}

.title-image-2 {
  width: 40%;
}

/* Features */

.feature-box {
text-align: center;
padding: 5%;
}

#features {
  padding: 2% 5%;
  background-color: #23374d;
  color: white;
}

.feature-icon {
  margin: 20px 0px;
}

/* Algolia Search Bar */
.ais-SearchBox { 
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  width: 100vw;
}

.ais-SearchBox-input {
  width: 80%;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
}

.ais-Hits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.ais-Hits-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 0px;
  margin: 0px;
}

.ais-Hits-item {
  margin: 0px;
  list-style-type: none;

}

.ais-InstantSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ais-SearchBox { 
  margin: auto;
}

.instant-search {
 
}

/* Algolia Hit */
.hit-container {

}

.hit-text {
  font-weight: 400;
  margin: 0px 0px;
}

#hourly-payment-rate-text {
  color: #AAAAAA;
  font-style: u;
}

/* General Search Page */
#search-text {
  font-size: 1.5em;
  color: #AAAAAA;
}

#search-category-text {
  font-size: 2.5em;
  font-weight: bold;
}

/* Footer */
#legal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #23374d;
  padding: 1% 3%;
  position: absolute;
  bottom: 0;
  right: 0;
}

h6 {
  font-weight: bold;
}

.legal-footer-item {
  padding: 0px 20px;
}

#find-trainer-button {
  background-color: #23374d;
  color: white;
}

#lupa-logo {
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 5%;
}

#search-bar {
  width: 90%;
  padding: 5px 0%;
  border-radius: 5px;
  border-width: 1px;
  border-color: #EEEEEE;
  margin: auto;
}

#search {

}

#search-controls {
  padding: 1% 0%;
}

#informational-text {
  padding: 2% 0%;
}

.select {
  width: 120px;
}